<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Course</title>
  <link rel="stylesheet" href="/Stylesheets/AicourseStyle.css">
</head>

<body>
  <header>
    <nav>
      <div class="logo">
        <img src="/Images/Logo.jpeg" alt="Logo">
        <span>AI WORLD</span>
      </div>
      <ul class="nav-links">
        <li><a href="/" class="nav_btn">Home</a></li>
        <li><a href="/courses" class="nav_btn">Courses</a></li>
        <li><a href="/updates" class="nav_btn">Update</a></li>
        <li><a href="/contact" class="nav_btn">Contact</a></li>
      </ul>
      <div class="buttons">

        <button><a href="#" class="live-debate-btn">Live Debate</a></button>
        <form action="/logout?_method=DELETE" method="POST">
          <button class="contact-us-btn" type="submit">Logout</button>
        </form>
      </div>
    </nav>
  </header>

  <!-- main AI Courses Conatiner -->
  <section class="hero">
    <h2 class="ai_courses_heading">AI Courses avaliable to make you learn about AI </h2>
    <div class="main-container">
      <div class="ai-courses">
        <h2>Machine Learning by Andrew Ng (Coursera)</h2>
        <p>An in-depth introduction to machine learning algorithms and techniques...
        </p>
        <button>Learn More</button>
      </div>
      <div class="ai-courses">
        <h2>Intro to Artificial Intelligence by Udacity
        </h2>
        <p>A beginner-level course providing an overview of Al principles and applications...
        </p>
        <button>Learn More</button>
      </div>
      <div class="ai-courses">
        <h2>Artificial Intelligence A-Z™: Learn How To Build An Al (Udemy)
        </h2>
        <p>A comprehensive course covering both theoretical concepts and practical implementation of Al....
        </p>
        <button>Learn More</button>
      </div>
      <div class="ai-courses">
        <h2>IBM AI Engineering Professional Certificate (edX)
        </h2>
        <p>A comprehensive program covering various Al engineering concepts and tools.
          ...
        </p>
        <button>Learn More</button>
      </div>
      <div class="ai-courses">
        <h2>Introduction to Deep Learning in Python (DataCamp)
        </h2>
        <p>A hands-on course to learn deep learning concepts using Python and popular libraries
          ...
        </p>
        <button>Learn More</button>
      </div>
    </div>
  </section>
</body>

</html>