<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Update</title>
  <link rel="stylesheet" href="/Stylesheets/updateStyle.css">
</head>

<body>
  <header>
    <nav>
      <div class="logo">
        <img src="/Images/Logo.jpeg" alt="Logo">
        <span>AI WORLD</span>
      </div>
      <ul class="nav-links">
        <li><a href="/" class="nav_btn">Home</a></li>
        <li><a href="/courses" class="nav_btn">Courses</a></li>
        <li><a href="/updates" class="nav_btn">Update</a></li>
        <li><a href="/contact" class="nav_btn">Contact</a></li>
      </ul>
      <div class="buttons">
        <button><a href="#" class="live-debate-btn">Live Debate</a></button>
        <form action="/logout?_method=DELETE" method="POST">
          <button class="contact-us-btn" type="submit">Logout</button>
        </form>
      </div>
    </nav>
  </header>

  <!-- main AI update Conatiner -->
  <section class="hero">
    <div class="main-container">
      <div class="ai-update">
        <h2>Why You Shouldn't Trust Al Detectors</h2>
        <p>Many teachers aren't happy about the Al revolution, and it's tough to blame therm: ChatGPT has proven you can
          feed Al a prompt, say for a high school essay, and the Al can spit out a result in seconds. Of course, that
          essay might be riddled with errors, but, ...
        </p>
        <button>Read Full Article</button>
      </div>
      <div class="ai-update">
        <h2>You're Probably Underestimating Al Chatbots
        </h2>
        <p>Just as the first iPhone reviews mostly missed the device's huge potential, it's folly to draw conclusions
          from today's unrefined technology...
        </p>
        <button>Read Full Article</button>
      </div>
      <div class="ai-update">
        <h2>Tik Tok may have generative Al avatars soon
        </h2>
        <p>TikTok may soon let you create Al stylized avatars not unlike what you can with deep learning apps like
          Midjourney or Lensa, according to a Twitter thread from social media guru Matt Navarra seen by The Verge.
          Called Al Avatars, the tool lets you upload three...
        </p>
        <button>Read Full Article</button>
      </div>
      <div class="ai-update">
        <h2>Hollywood writers demand protections against Al exploitation
        </h2>
        <p>Luddites had the right of things all the way back in the 1800s. When textile factory owners in early 19th
          century England used the industrialization of their industry as an excuse to underpay and overwork employees
          in dangerous, dehumanizing conditions, the s...
        </p>
        <button>Read Full Article</button>
      </div>
    </div>
  </section>
</body>

</html>